a{
    margin-left: 200px;
    text-decoration: none;
    
    border-radius:solid black 10px;
    margin-right: 100px;

    padding: 5px 10px blue;
    
  }
  .mys{
    margin-left: 200px;
    margin-right: 100px;
    text-decoration: none;
    border: a719d 20px;
    border-radius:solid black 10px;
    padding: 5px 10px blue;
    background-color: blue;
  }
  